#Login{
    color:#0294A2;
    border-color: #0294A2 !important;
    background-color: #212529;

}

#exampleFormControlTextarea1, #exampleFormControlInput1 {
    color: #0294A2;
    background-color: #212529;
    border-left-color:#212529;
    border-top-color:#212529;
    border-right-color:#212529;
    border-bottom-color: #0294A2;
    border-width: 3px;


}